apiVersion: v1
kind: Namespace
metadata:
  name: ceph-rbd-csi
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-rbd-csi
  namespace: ceph-rbd-csi
type: Opaque
stringData:
  userID: {{ forge_ceph_rbd_user_id | to_json }}
  userKey: {{ forge_ceph_rbd_user_key | to_json }}
