apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ forge_publication_data_storage_class }}
provisioner: pd.csi.storage.gke.io
parameters:
  type: pd-balanced
  csi.storage.k8s.io/fstype: ext4
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
